<div class="container color-dark">
  <div class="col">
    <p>Add ToDo Task</p>
  </div>
  <div class="col">
    <p>ToDo List ( {{itemCounter}} )</p>
  </div>
</div>

<div class="container color-light">
  <div class="col">
    <h2>Use this tool to add your to-do list also to remove</h2>
    <form>
      <input type="text" class="text" name="projectname" placeholder="please add to-to task" [(ngModel)]="projectText">
      <br>
      <input type="submit" class="btn" value="Add Task" (click)="addItem()">
    </form>
  </div>
  <div class="col">
    <p class="project-container" *ngFor="let item of projects; index as i " (click)="removeItem(i)">
      {{item}}
    </p>
  </div>
</div>
